<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="#">
                <i class="glyphicon glyphicon-bookmark"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                <span>Users Management</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/users/add"><i class="glyphicon glyphicon-plus"></i> Add Users</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/users"><i class="glyphicon glyphicon-search"></i> List Users</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-flag"></i>
                <span>Labs Management</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/labs/add"><i class="glyphicon glyphicon-plus"></i> Add Lab</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/labs"><i class="glyphicon glyphicon-search"></i> List Labs</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-list-alt"></i>
                <span>Item Management</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/items/add"><i class="glyphicon glyphicon-plus"></i> Add Item</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/items"><i class="glyphicon glyphicon-search"></i> List Items</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-bold"></i>
                <span>Brand</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/brand/add"><i class="glyphicon glyphicon-plus"></i> Add Brand</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/brand"><i class="glyphicon glyphicon-search"></i> List Brand</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-random"></i>
                <span>Category</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/category/add"><i class="glyphicon glyphicon-plus"></i> Add Category</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/category"><i class="glyphicon glyphicon-search"></i> List Category</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-globe"></i>
                <span>Distributor</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/distributor/add"><i class="glyphicon glyphicon-plus"></i> Add Distributor</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/distributor"><i class="glyphicon glyphicon-search"></i> List Distributor</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>User Type</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/usertype/add"><i class="glyphicon glyphicon-plus"></i> Add User Type</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/usertype"><i class="glyphicon glyphicon-search"></i> List User Type</a></li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->