<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Delete Distributor</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Delete Distributor?</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Registration Client</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <a href="/distributor" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${itemdis}" th:action="@{/distributor/confirmDel}" method="get">
            <div class="box-body">
                <input type="hidden" th:field="*{idDistributor}"/>
				
                <div class="form-group" style="display:none">
                    <label for="categoryCode">Distributor Code</label>
                    <input type="text" required="true" class="form-control" th:field="*{distributorCode}" id="categoryCode" />
                </div>
                
                <div class="form-group"></div>
                
                <div class="form-group">
                    <label for="categoryName">Distributor Name</label>
                    <input type="text" readonly required="true" class="form-control" th:field="*{distributorName}" id="categoryName" />
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary" type="submit">Delete</button>
                <a href="/distributor" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
