<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Delete Item</title>
</head>
<body>
	<section layout:fragment="header">
		<h1>Delete Item?</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Registration Client</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<div class="box">
			<div class="box-header with-border">
				<div class="box-tools pull-right">
					<a href="/items" type="button" class="btn btn-box-tool"><i
						class="fa fa-list-ul"></i></a>
				</div>
			</div>
			<form class="form-horizontal" data-toggle="validator" role="form"
				th:object="${items}" th:action="@{/items/confirmDel}" method="get">
				<div class="box-body">
					<input type="hidden" th:field="*{idItem}" />


					<div class="form-group" style="display:none;">
						<label class="col-sm-1 control-label" for="itemCode">Item
							Code</label>
						<div class="col-sm-2">
							<input type="text" required="true" class="form-control"
								th:field="*{itemCode}" id="itemCode" placeholder="Type Code..." />
						</div>
					</div>

					<div class="form-group"></div>

					<div class="form-group">
						<label class="col-sm-1 control-label" for="itemName">Item
							Name</label>
						<div class="col-sm-4">
							<input type="text" required="true" class="form-control" readonly
								th:field="*{itemName}" id="itemName"
								placeholder="Type Item Name..." />
						</div>
					</div>

					<div class="form-group"></div>

					<div class="form-group" style="display:none;">
						<label class="col-sm-1 control-label" for="itemPiecesPackaging">Pieces/Pack</label>
						<div class="col-sm-1">
							<input type="text" required="true" class="form-control"
								th:field="*{itemPiecesPackaging}" id="itemPiecesPackaging"
								placeholder="Ammount.." />
						</div>

						<label class="col-sm-1 control-label" for="itemPackaging">/</label>

						<div class="col-sm-2">
							<input type="text" required="true" class="form-control"
								th:field="*{itemPackaging}" id="itemPackaging"
								placeholder="Bottle/Tube/etc.." />
						</div>
					</div>

					<div class="form-group"></div>


					<div class="form-group" style="display:none;">
						<label class="col-sm-1 control-label">Item Brand</label>
						<div class="col-sm-2">
							<input type="text" required="true" class="form-control"
								th:field="*{idBrand}" id="idBrand" />
						</div>

						<label class="col-sm-1 control-label">Category</label>
						<div class="col-sm-2">
							<input type="text" required="true" class="form-control"
								th:field="*{idCategory}" id="idCategory" />
						</div>


						<label class="col-sm-1 control-label">Distributor</label>
						<div class="col-sm-2">
							<input type="text" required="true" class="form-control"
								th:field="*{idDistributor}" id="idDistributor" />
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Delete</button>
					<a href="/items" class="btn btn-secondary">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
