<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Users</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Users</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Users</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lists</h3>
            <div class="box-tools pull-right">
                <a href="/items/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Item Name</th>
                    <th>Pieces</th>
                    <th>Packaging</th>
                    <th>Category</th>
                    <th>Created Date</th>
                    <th>Latest Update</th>
                    <th>Action</th>
                </tr>
                <tr th:each="row : ${list}">
                    <td th:text="${row.idItem}"></td>
                    <td th:text="${row.itemName}"></td>
                    <td th:text="${row.itemPiecesPackaging}"></td>
                    <td th:text="${row.itemPackaging}"></td>
                    <td th:text="${row.idCategory}"></td>
                    <td th:text="${row.createdAt}"></td>
                    <td th:text="${row.updatedAt}"></td>
                    <td>
                        <a th:href="${'/items/edit/' + row.idItem}">Edit</a> |
                        <a th:href="${'/items/delete/' + row.idItem}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="/labs/1">First</a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
                    <a th:href="${'/labs/' + p}" th:text="${p}"></a>
                </li>
                <li><a th:href="${'/labs/' + endIndex}">Last</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
